@import "../../../styles/variables";
@import "../../../styles/mixins";

.auctionCategory{
  @include no-select;

  position: relative;
  background:$blockBackground;
  border:1px solid $blockBorder;
  padding:3px 1rem;
  color:$textLight;
  text-transform: capitalize;
  text-align: left;
  font-size:16px;
  margin-top:-1px;
  outline:none;

  &:first-child{
    border-radius:4px 4px 0 0;
  }

  &:last-child{
    border-radius:0 0 4px 4px;
  }

  &:hover{
    cursor:pointer;
    border:1px solid rgba($gold,0.5);
    z-index: 2;
  }

  &.active{
    z-index: 2;
    border:1px solid rgba($gold,1);
  }
}
