html, body,:global(#root){
  min-height:100vh;
}
body{
  background:$darkBackground;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg{
  fill: $textLight;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

:global(.icon){
  svg{
    max-width:24px;
  }
}

p{
  font-size:18px;
}

:global(.toast){
  color:$textLight;
}

