$darkBackground: #111;
$mediumBackground: #222;

$textDark: #111;
$textLight: #fff;

$gold: gold;
$negative: #FF8056;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: 'Roboto', sans-serif;

$headings-font-family: 'Raleway', sans-serif;
$headings-font-weight: 300;


$blockBackground: #1B1B1B;
$blockBorder: #3C3C3C;

$balanceMenuMobileHeight: 26px;
$playMenuMobileHeight: 40px;

$xpbarHeight: 20px;
$xpbarColor: #6F0069;

$timerHeight: 36px;

$veryLarge: 1600px;
$large: 1200px;
$medium: 992px;
$small: 768px;
$verySmall: 500px;
