$darkBackground: #111;

$textDark: #111;
$textLight: #fff;

$gold: gold;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: 'Roboto', sans-serif;

$headings-font-family: 'Raleway', sans-serif;
$headings-font-weight: 300;


$blockBackground: #1B1B1B;
$blockBorder: #3C3C3C;
