@import "../../../styles/variables";

.singlePurchaseRender{
  .action{
    width:40px;

    &:hover{
      cursor:pointer;
      opacity:0.7;
    }
  }

  td:nth-child(2){
    font-size:24px;
  }

  .mobileTrend{
    display:none;
  }

  @media screen and (max-width:$small) {
    .mobileTrend{
      display:block;
    }
  }
}
