.glanceBalance{
  display:grid;
  height:100%;
  align-content: center;
  position: relative;

  .title{
    text-transform: capitalize;
  }

  .quickIcons{
    margin-top:2rem;

    :global(.icon svg){
      width:40px;
    }
  }
}
