.auction{
  display:grid;
  grid-template-areas:
          "topper topper"
          "auctionCategories auctionItems";
  grid-template-columns: 175px 1fr;
  grid-template-rows: auto 1fr;
  height:100%;
  grid-gap:1rem;

  .topper{
    grid-area: topper;
    display: grid;
    grid-template-columns: 1fr 300px;
    text-align: left;

    h1{
      font-size:40px;
    }
  }
}
