@import "../../../styles/variables";

.auctionItems{
  background: $blockBackground;
  border:1px solid $blockBorder;
  display:grid;
  position: relative;
  overflow-y: auto;

  &.loading{
    align-items: center;
  }

  &.loaded{
    align-items: start;
  }

  svg{
    max-width:64px;
    opacity:0.2;
  }

  table{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow-y: auto;
    width:100%;

    .auctionItemsHeader{
      font-size:20px;
      font-family: $headings-font-family;
      border-bottom: 1px solid $blockBorder;

      th{
        font-weight: 300;
        padding:1rem;
        text-align: left;

        &:nth-child(3){
          text-align: right;
        }
      }

    }

    .auctionItemsBody{

    }
  }

}
