.glanceInventory{
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;

  .glanceInventoryItems{
    display:grid;
    align-items: center;
    position: relative;
    margin:0 -1rem;

    .glanceInventoryItemsScroller{
      display: grid;
      align-content: start;
      position: absolute;
      overflow-y: auto;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;

      > div{
        padding: 5px 1rem;
      }
    }
  }
}
